.service_Item .service_Item--Img {
  object-fit: cover;
  height: 13vh;
  z-index: 2;
}

.service_Item-Head::before {
  position: absolute;
  content: '';
  inset: 0;
  transition: all 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  border-radius: 0.2rem;
}

.service_Item-Head:hover::before {
  transform: rotate(45deg) scale(1.2);
  background-color: var(--before-bg);
  border: none;
  z-index: 1;
}
