* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Roboto;
  src: url(/assest/css/font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

#root {
  position: relative;
  background-color: var(--bg-Body);
  min-height: 100vh;
}

.light {
  --bg-Body: rgb(207, 204, 204);
}

.dark {
  --bg-Body: black;
}
