* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Roboto;
  src: url(/assest/css/font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

.dark {
  --root-bg: black;
  --before-color: orange;
  --after--color: orange;
  --before-bg: orange;
  --after-bg: orange;
  --brand-bg: white;
  --shop-Icon-shadow: orange;
  --carousel-arrow-bg: black;
  --carousel-Item-Stroke-color: white;
}

.light {
  --root-bg: white;
  --before-color: orange;
  --after--color: orange;
  --before-bg: orange;
  --after-bg: orange;
  --brand-bg: white;
  --shop-Icon-shadow: orange;
  --carousel-arrow-bg: black;
  --carousel-Item-Stroke-color: white;
}

#root {
  position: relative;
  background-color: var(--root-bg);
  min-height: 100vh;
}
