.Navigation_SwitchTheme {
  position: relative;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.switchTheme-Toggle {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: absolute;
  top: 0;
  height: 100%;
  width: 2rem;
  border-radius: 1rem;
  filter: drop-shadow(0 0 5px orange);
}

.switchTheme-Toggle.dark {
  left: 0;
}

.switchTheme-Toggle.light {
  left: calc(100% - 2rem);
}

.switchTheme-Icon-Moon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 100%;
  font-size: 1.2rem;
  opacity: 0;
}

.switchTheme-Icon-Moon.active {
  opacity: 1;
}

.switchTheme-Icon-Sun {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 100%;
  font-size: 1.2rem;
  opacity: 0;
}

.switchTheme-Icon-Sun.active {
  opacity: 1;
}
